.profile-text{
 width: 100%;
 font-style: "lucida console"
}

.avfc{
	font-style: arial;
	font-size:15
}

body {
	background: url("../img/Kingswilldream.png")no-repeat center center fixed;
}